<section>
    <header>
        <img src="../../assets/SVG/MovieNightLogo.svg">
    </header>

    <a routerLink="/favorites" routerLinkActive="active"><button class="watchlist-btn">View Watchlist</button></a>

    <form class="formclass" #searchForm="ngForm" (submit)="formSubmitted(searchForm)">

        <div>
            <p>Search Year</p>
            <input name="year" type='text' placeholder="ex: '2015'" ngModel>
        </div>


        <div class="rating">
            <p>Search Rating</p>
            <input name="rating" type="number" id="less" placeholder="ex: '8.5'" ngModel>
            <input type="radio" [value]="true" id="greater" name="greaterThanRating" ngModel><label
                for="greater">Greater than</label>
            <input type="radio" [value]="false" name="greaterThanRating" ngModel><label for="less">Less than</label>

        </div>

        <div>
            <p>Search Genre</p>
            <select name="genre" ngModel onChange="this.searchForm.submit()">
                <option *ngFor="let genre of getGenres()" [value]="genre.id">{{genre.name}}</option>
            </select>
        </div>

        <button class="submit-btn" type="submit">Submit</button>
    </form>
</section>