div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 5em;
}

header {
  position: fixed;
  width: 100%;
  margin-top: 0;
}

body {
  display: flex;
  margin: 0px;
  padding: 0px;
  background: linear-gradient(
    180deg,
    rgba(8, 24, 58, 1) 0%,
    rgba(77, 59, 96, 1) 28%,
    rgba(85, 62, 95, 1) 40%,
    rgba(253, 123, 83, 1) 68%
  );
}

@media only screen and (max-width: 1298px) {
  div {
    margin-top: 20em;
  }
}

@media only screen and (max-width: 535px) {
  div {
    margin-top: 20em;
  }
}
