router-outlet {
    display: flex;
    margin: 0px;
    padding: 0px;
    background: linear-gradient(180deg, rgba(8,24,58,1) 0%, rgba(77,59,96,1) 28%, rgba(85,62,95,1) 40%, rgba(253,123,83,1) 68%);
} 
